/* Page background */
body {
    font-family: Arial, sans-serif;
    background: #f2f9f9;
    margin: 0;
    padding: 40px;
}

/* Form container */
form {
    width: 350px;
    margin: auto;
    padding: 25px;
    background: #ffffff;
    border: 2px solid cadetblue;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(95, 158, 160, 0.25);
}

/* Labels */
label {
    font-size: 15px;
    color: #2f4f4f;
    font-weight: bold;
}

/* Input fields */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 20px;
    border: 1.8px solid cadetblue;
    border-radius: 6px;
    outline: none;
    transition: 0.3s;
}

/* Input focus effect */
input:focus {
    border-color: #2e6f73;
    box-shadow: 0 0 5px rgba(95, 158, 160, 0.6);
}

/* Submit button */
button {
    width: 100%;
    padding: 12px;
    background: cadetblue;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

/* Hover effect */
button:hover {
    background: #4b7e80;
}

button:disabled{
    cursor: not-allowed;
}

/* i love sumit */
#error{
    color: red;
}